@use "../utils/variables" as *;
@use "../base/typography" as *;
@use "../utils/placeholders" as *;

.accomodation {
  margin: 0 1rem 1.69rem 1rem;
  &__carousel {
    position: relative;
    height: 20rem;
    @media (min-width: 1024px) {
      height: 25.93rem;
    }
    &-img {
      width: 100vw;
      height: 20rem;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0.625rem;
      object-fit: cover;
      @media (min-width: 1024px) {
        height: 25.93rem;
      }
    }
    &-arrow {
      position: absolute;
      width: 1.5rem;
      width: 2rem;
      height: 2rem;

      @media (min-width: 1024px) {
        width: 2.9175rem;
        height: 2rem;
      }
    }
    &-arrow:hover {
      background: rgba(255, 96, 96, 0.4);
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255);
    }
    &-leftArrow {
      bottom: 50%;
      transform: translateY(50%);
    }
    &-rightArrow {
      right: 0;
      bottom: 50%;
      transform: translateY(50%);
    }
    &-counter {
      display: none;
      color: white;
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
      @media (min-width: 768px) {
        display: block;
      }
    }
  }
  &__content {
    @extend %flex-column;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
    &-informations {
      @extend %flex-column;
    }
    &-title {
      margin-top: 0.94rem;
      color: $main-color;
      @media (min-width: 1024px) {
        font-weight: 500;
      }
    }
    &-location {
      margin: 0 0.63rem 1.25rem 0;
    }
    &-tags {
      @extend %flex-row;
      justify-content: flex-start;
      margin: 0;
    }
    &-tag {
      width: auto;
      padding: 0.2rem;
      line-height: 1.56rem;
      color: white;
      font-size: 0.625rem;
      font-weight: 700;
      text-align: center;
      margin: 0rem 0.5rem 1.5rem 0rem;
      border-radius: 0.62rem;
      background: #ff6060;
      @media (min-width: 1024px) {
        font-size: 0.87rem;
        font-weight: 700;
      }
    }
    &-host {
      @extend %flex-row;
      justify-content: space-between;
      align-items: center;
      gap: 0.66rem;
      @media (min-width: 768px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-end;
      }
      &Details {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        @media (min-width: 1024px) {
          gap: 1.4rem;
        }
        &-name {
          width: 4rem;
          @extend %flex-column;
          flex-wrap: wrap;
          text-align: right;
          color: #ff6060;
        }
      }
      &Picture {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        @media (min-width: 1024px) {
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }
}
